
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;800;900&display=swap');

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
.left-25{
left: -5vw !important;
top: 10vh;
}
.bottom-10{
bottom: -10vh;
}
.Active{
border-bottom: solid 2px #20AD96 !important;
}
.bottom10{
top: -10vh;
}
img{
max-width: 100%;
}
.O:hover{

background-color:#FAF8F6 !important;
flex-grow: .2;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.p:hover{

background-color: rgb(226, 218, 218) !important;
flex-grow: .2;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.r:hover{
height: 40vh;
cursor: pointer;
flex-shrink: 1;
}
.r:hover p b{
color: #20AD96;
}
img{
max-width: 100vw;
}
.start-10{
right: 10vw;
}
.end-10{
left: 10vw;
}
.accordion-button:not(.collapsed){
background-color: transparent !important;
color: inherit;
}
button.accordion-button:focus{
box-shadow: inherit;

}
$colors:(
  "lightgreen":#20AD96,
  'navyblue':#333461,
  'grey':#4A556C,
  'milk':#FAF8F6,    

);
.hidden{
display: none !important;
}
$theme-colors: map-merge($colors, $theme-colors);
::placeholder{
  color: #4A556C;
}
.load{
height: 100vh;
}
input{
outline: none !important;
border: solid 2px #4A556C;
border-radius: 3px;
}
.sp{
  padding-top: 6rem;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss'
